@-webkit-keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate (-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate (-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@-webkit-keyframes socials {
    0% {
        top: 110%;
        left: -110%;
    }

    50% {
        top: -30%;
        left: 10%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

@keyframes socials {
    0% {
        top: 110%;
        left: -110%;
    }

    50% {
        top: -30%;
        left: 10%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}