/* font-family: 'BIZ UDPMincho', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Russo One', sans-serif; */

:root {
    --black: #000;
    --dark: #0D0807;
    --dark--opacity: #0d0807c5;
    --brown: #261A18;
    --brown-opacity: #261a1862;
    --light-brown: #40302A;
    --gray: #73706F;
    --light-gray: #A6A4A4;
    --light-gray-opacity: #a6a4a434;
    --white:#fdfdfd;;
    --gold: #D9B855;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* min-height: 200vh; */
    font-family: 'Roboto', sans-serif;
    color: var(--light-gray);
    /* background-color: var(--dark); */
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 30px;
}

.navbar {
    background: var(--dark--opacity);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0 10px 1px var(--black);
    z-index: 1;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header h2 {
    font-size: 1.8rem;
}

.nav-header span {
    color: var(--gold);
}

.nav-toggle {
    border: transparent;
    background-color: transparent;
    color: var(--light-gray);
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
}

.nav-open {
    height: 60vh;
}

.nav-links li {
    list-style: none;
    padding: 10px 0;
    margin: 20px 0;
    border: none;
    width: 8rem;
}

.nav-links ul li a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

/* SLIDER */

header .banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--gold);
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.slide-img {
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    /* animation: zoom 3s linear infinite; */
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.content {
    width: 100%;
    height: 50vh;
    margin: 0 auto ;
    text-align: center; 
    letter-spacing: 2px;
    position: absolute; 
    top: 35vh;
    left: 0;
    font-family: 'BIZ UDPMincho', serif;
}

.content h1 {
    font-size: 3rem;
    color: var(--light-gray);
    padding: 0 10px;
    line-height: 1.5;
}

.content h3 {
    font-size: 1.2rem;
    color: var(--gray);
    line-height: 1.8;
}

.book-btn {
    padding: 10px 20px;
    text-align: center;
    margin-top: 25px;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 700;
    border: 2px solid var(--gold);
    color: var(--white);
    background-color: transparent;
}

/* About-us */

.about-us {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--dark);
    padding: 10px 0 50px;
    overflow: hidden;
}

.about-us::before {
    content: "Nasz Team";
    display: block;
    width: 100%;
    height: 8%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Russo One', sans-serif;
    padding: 20px 0;
    background-color: var(--dark);
    color: var(--gold);
}

.wrap-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrap-cards .card {
    position: relative;
    top: 0;
    left: 0;
    max-width: 300px;
    height: 470px;
    background-color: var(--light-gray-opacity);
    margin: 50px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px 1px var(--black);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.wrap-cards .card:hover {
    height: 650px
}

.card .img-box {
    color: var(--white);
    position: relative;
    top: -60px;
    left: 20px;
    width: 320px;
    height: 420px;
    padding: 0 10px 0;
}

.card .img-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px;
    font-family: 'BIZ UDPMincho', serif;
    color: var(--gray);
    border: 1px solid var(--gold);
    background-color: var(--dark);
    box-shadow: 0 0 30px 1px var(--black);
    border-radius: 4px;
}

.card .img-box img {
    max-width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 30px 1px var(--black);
}

.card .content {
    position: relative;
    top: 0;
    left: 0;
    margin-top: -100px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    line-height: 1.5;
}

.content p {
    padding: 5px 10px 15px;
    font-size: 0.95rem;
    color: var(--gray);
}

.card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

/* services */

.services {
    width: 100%;
    min-height: 200vh;
    background-color: var(--dark);
    border-top: 1px solid var(--gold);
    position: relative;
}

.container-bg {
    margin: 0 auto;
    height: 50vh;
}

.bg-1 {
    background-image: url('../images/bg_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/* USŁUGI */

.card-services {
    background-color: var(--dark);
    border-top: 1px solid var(--gold);
}

.card-services-desc {
    text-align: center;
    margin: 40px 0 0;
}
.card-services-desc h1 {
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    color: var(--gold);
}
.card-services-desc p {
    padding: 0 22px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    line-height: 1.8;
    color: var(--gray);
}

.wrap-services {
    width: 100%;
    height: 280vh;
    display: flex;
    display: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
}

.wrap-services div {
    margin-top: 25px;
    flex-basis: 85%;
    height: 45vh;
}

.desc_serv h2 {
    text-align: center;
    margin: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 1.1rem;
    color: var(--gold);
}
.desc_serv h4 {
    text-align: center;
    padding: 0 0 20px;
    color: var(--gray);
    font-size: 0.95rem;
}

.desc_serv ul {
    padding: 0 40px;
    color: var(--gray);
 }

.desc_serv li {
        padding: 5px 0;
        letter-spacing: 1px;
        font-size: 0.9rem;
        line-height: 1.5;
}

.wrap-services .img_service {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.service:nth-child(1) .img_service {
    background-image: url("../images/hair.jpg");
}
.service:nth-child(2) .img_service {
    background-image: url("../images/beard.jpg");
}
.service:nth-child(3) .img_service {
    background-image: url("../images/combo.jpg");
}

div.price_list {
    text-align: center;
    padding-bottom: 60px;
 }

 .btn_price {
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 700;
    border: 2px solid var(--gold);
    color: var(--white);
    background-color: transparent;
    text-decoration: none;
 }

 /* GALLERY */

 .gallery-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 8% 50px;
    background-color: var(--dark);
    border-top: 1px solid var(--gold);  
    overflow-x: hidden;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 15px;
}

.gallery img {
    width: 100%;
}

/* CONTACT */

.contact {
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark);
    border-top: 1px solid var(--gold);
    justify-content: center;
    display: flex;
}

.contact-container {
    margin: 40px 0;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: var(--dark);
    padding: 5px;
    border-radius: 8px;
    overflow-x: hidden;
}

.form-contact {
    padding: 20px;
}

.form-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--gold);
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--dark);
    box-shadow: inset 0 0 5px 1px var(--gold);
    padding: 10px;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: var(--white);
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
    height: 25vh;
}

.contact-form .send-btn {
    border: none;
    outline: none;
    background-color: var(--brown);
    color: var(--gray);
    box-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s all linear;
}

.contact-form .send-btn:hover {
    background-color: transparent;
    box-shadow: inset 0 0 5px 1px var(--gold);
}

.map iframe {
    margin: 20px 0 0;
    width: 100%;
    height: 400px;
}













.wrap-contact .map {
    height: 100px;
    width: 100px;
    background-color: white;
}





/* -------------------------------------------------------------- */

@media only screen and (min-width: 1024px) {
    body {
        font-size: 1.3rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .nav-header h2 {
        font-size: 2.4rem;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .nav-links {
        height: auto;
    }

    .nav-links ul {
        text-align: center;
    }

    .nav-links ul li {
        display: inline-block;
        border-bottom: none;
    }

    .nav-links a {
        position: relative;
        transition: .3s linear;
    }

    .nav-links a:hover {
        color: var(--light-gray);
    }

    .nav-links a::after {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--gold);
        background: linear-gradient(90deg, transparent, var(--gold));
        transition: width 0.3s;
    }

    a:hover::after {
        width: 100%;
    }

    .slide-img {
        width: 100vw;
        height: 100vh;
    }
    
    .overlay {
        height: 100vh;
    }

    .content {
        width: 100%;
        height: 100vh;
        top: 40vh;
        left: 0;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    
    .content h1 {
        font-size: 6.5rem;
    }
    
    .content h3 {
        font-size: 2rem;
    }
    
    .book-btn {
        padding: 20px 40px;
        text-align: center;
        margin-top: 50px;
        border-radius: 25px;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 5px;
        border: 2px solid var(--gold);
        color: var(--light-gray);
        background-color: transparent;
        cursor: pointer;
        transition: .3s linear;
    }


    .book-btn:hover {
        box-shadow: 0 0 15px 1px var(--gold);
        color: var(--white);
    }

    .about-us {
        flex-wrap: nowrap;
        padding: 20px 50px;
        overflow: hidden;
        /* border-top: 1px double var(--light-brown); */
    }

    .about-us::after {
        height: 10%;
        font-size: 4rem;
        padding: 40px 0 0;
    }

    .wrap-cards {
        justify-content: space-around;
        align-items: flex-start;
    }

    
    .about-us .card {
        position: relative;
        top: 0;
        left: 0;
        max-width: 400px;
        height: 450px;
        margin: 150px 20px 0;
        padding: 20px;
    }
    
    .about-us .card:hover {
        height: 800px;
    }
    
    .card .img-box {
        color: var(--white);
        position: relative;
        top: -100px;
        left: 50px;
        width: 400px;
        height: 420px;
    }
    
    .card .img-box h2 {
        padding: 20px 10px;
    }
    
    .card .img-box img {
        max-width: 90%;
        border-radius: 4px;
        box-shadow: 0 0 30px 1px var(--black);
        transition: filter 1s;
    }

    .card .img-box img:hover {
        filter:brightness(50%);
    }
    
    .card .content {
        margin-top: -80px;
        transition: 0.5s ease-in-out;
        line-height: 1.5;
    }
    
    .content p {
        margin-top: 80px;
        padding: 5px 10px 15px;
        font-size: 0.9rem;
        color: var(--gray);
    }
    
    .card:hover .content {
        margin-top: -50px;
        transition-delay: 0.3s;
    }

    
    /* -------- usługi */
 
    .container-bg {
        height: 60vh;
    }

    .card-services-desc h1 {
        font-size: 2rem;
    }
    .card-services-desc p {
        padding: 10px 20px;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
    
    .wrap-services {
        height: 255vh;
    }

    .wrap-services div {
        margin-top: 50px;
        flex-basis: 70%;
        height: 60vh;
    }

    .service {
        display: flex;
    }

    
    .service .img_service {
        background-position: 20%;
        background-size: contain;
        background-attachment: fixed;
        margin: 50px 25px;   
    }

    
    .service:nth-child(1) .img_service {
        background-image: url("../images/hair.jpg");
    }
    .service:nth-child(2) .img_service {
        background-image: url("../images/beard.jpg");
        order: 2;
        background-position: 80%;
    }
    .service:nth-child(3) .img_service {
        background-image: url("../images/combo.jpg");
    }

    .service .desc_serv:nth-child(2) {
        order: 1;
    }

    .desc_serv h2 {
        margin: 20px;
        font-size: 1.4rem;
    }

    .desc_serv h4 {
        font-size: 1rem;
    }
    
    .desc_serv li {
            font-size: 1.2rem;
            line-height: 2;
    }
  
    div.price_list {
        padding: 10px 0 100px;
     }
    
    .btn_price {
        padding: 20px 40px;
        font-size: 1.2rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        transition: .3s linear
     }

    .btn_price:hover {
        box-shadow: 0 0 15px 1px var(--gold);
        color: var(--white);
    }

   /* GALLERY */

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        transform: scale(1);
    }

    img {
        transition: .5s linear;
    }

    .gallery img:hover {
        transform: scale(1.1);
    }

    /* CONTACT */

    .contact {
        height: 40vh;
    }

    .contact-container {
        margin: auto;
        width: 80%;
        height: 60%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        overflow: hidden;
    }

    .form-container h3 {
        margin: 0 0 20px 80px;
    }

    .contact-form input, 
    .contact-form textarea {
        width: 80%;
        margin-left: 80px;
    }

    .contact-form .send-btn {
        width: 30%;
    }

    .map iframe {
        width: 90%;
        height: 100%;
    }

}